/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/header.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.header_cabecalho__k_Cy_ {
    padding: 15px 30px;
    background: #f98113;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_text__DksZ8 {
    margin-left: 50px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    border-radius: 5px;
    padding: 7px 13px;
  }
  
  .header_text__DksZ8:hover {
    background: #ff9b3d;
    transition: 0.5s;
  }
  
