.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.objetoFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.redeSocial {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.itemRedeSocial {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.itemRedeSocial:last-child {
  margin-right: 0;
}

.itemRedeSocial a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.itemRedeSocial a:hover {
  text-decoration: underline;
}

.dataCriacao {
  font-size: 14px;
  text-align: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-end;
}
