.pagina {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family:  'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.logo a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}


.navlist {
  list-style-type: none;
  display: flex;  
  margin: 0;
  padding: 0;
}

.navitem {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.navitem a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.navitem:hover {
  transition: 1s;
  padding: 10px;
  border-radius: 8px;
  background-color: black;
}
